<ul class="list-group" *ngIf="logsLoaded && logs.length > 0">
  <li *ngFor="let log of logs" [class.list-group-item-secondary]="currentLog === log" class="list-group-item d-flex justify-content-between align-items-center">
    <a (click)="onSelect(log)" href="#">{{ log.text}}</a>
    <span class="log-date text-secondary">{{ log.date | date: 'short' }}</span>
    <i (click)="onDelete(log)" class="fa fa-remove text-danger"></i>
  </li>
</ul>

<div class="h5" *ngIf="!logsLoaded">
  Loaging logs...
</div>

<div class="h5" *ngIf="logsLoaded && logs.length == 0">
  There are no logs yet
</div>